{% assign color = "#000000" %}

{% case site.minimal_mistakes_skin %}
  {% when "air" %}     {% assign color = "#0092ca" %}
  {% when "aqua" %}    {% assign color = "#1976d2" %}
  {% when "contrast" %} {% assign color = "#b60000" %}
  {% when "dark" %}    {% assign color = "#00adb5" %}
  {% when "dirt" %}    {% assign color = "#343434" %}
  {% when "neon" %}    {% assign color = "#f21368" %}
  {% when "mint" %}    {% assign color = "#11999e" %}
  {% when "plum" %}    {% assign color = "#c327ab" %}
  {% when "sunrise" %} {% assign color = "#fc3a52" %}
  {% else %}           {% assign color = "#000000" %}
{% endcase %}

<span style="color: {{ color }};"><strong>{{ include.label }}</strong></span>
