{% assign color = "#b60000" %}

{% case site.minimal_mistakes_skin %}
  {% when "air" %}     {% assign color = "#00a1e0" %}
  {% when "aqua" %}    {% assign color = "#3dd5f3" %}
  {% when "contrast" %} {% assign color = "#000000" %}
  {% when "dark" %}    {% assign color = "#ff6600" %}
  {% when "dirt" %}    {% assign color = "#996633" %}
  {% when "neon" %}    {% assign color = "#ff00ff" %}
  {% when "mint" %}    {% assign color = "#3eb489" %}
  {% when "plum" %}    {% assign color = "#8e4585" %}
  {% when "sunrise" %} {% assign color = "#f85c50" %}
  {% else %}           {% assign color = "#b60000" %}
{% endcase %}

<span style="color: {{ color }};"><strong>{{ include.label }}</strong></span>
